.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    width: 100%;
    max-height: 600px;
    min-height: 460px;
    background-size: cover;
    background-position: center;
}

.banner img{
    width: 100%;
    height: auto;
    min-height: 460px;
    background-repeat:no-repeat ;
}

.imgnone{
    display: none;
}

.banner-txt{
    position: absolute;
    background-color: #3572CC;
    color: #fff;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 20px;
    font-size: max(1.5vw,1rem);
    box-shadow: -5px 5px 24px 2px rgba(0, 0, 0, 0.25);
}

.banner-txt2{
    text-align:center;
    max-width: 800px;
    margin: auto;
    padding: 0 10%;
    font-size: 1.3rem;
}

.banner-txt h1,
.banner-txt h2{
    /* font: var(--ubuntu700); */
    color: #fff;
    font-size: max(3.5vw,1.9rem);
}

.bnr1 .banner-txt{
    padding: 20px 40px;
    transform: translate(0%,30%);
}

.bnr2 .banner-txt{
    padding: 10px 10%;
    transform: translate(0%,30%);
}



.bnr3 .banner-txt{
    box-shadow: none;
}
.bnr3 .banner-txt b{
    font-size: 2rem;
}

.bnr4 .banner-txt{
    max-width: 600px;
    transform: translate(0%,40%);
    padding: 20px 10.5%;

}

/* .bnr4 .banner-txt h2{
} */


@media only screen and (max-width: 1000px) {
    .bnr1 .banner-txt{
        /* padding: 2rem 2rem ; */
        width: 60%;
        /* max-height: 173px; */
    }

    .imgnone{
        display: block;
    }

    .imgon{
    display: none;
    }

    .bnr3 img{
        height: 300px;
    }

}

@media only screen and (max-width: 550px){

    .banner-txt{
        width: 65%;
    }

    .banner img{
    min-width: 479px;
    }   
    
    .bnr3 .banner-txt b{
        font-size: 1.4rem;
    }
}